*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{    
    margin: 0;
    background-image:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(https://source.unsplash.com/1200x1200/?landscape);
    background-position: center;
    overflow-y: scroll;
    background-size: cover;
}
h1,h3{
    margin: 0;
}
p{
    margin: 0;
}



.content{
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    width: 70%;
    height: 100%;
    gap: 1.2rem;
    transition:0.5s ease-in-out;
    padding-top: 1rem;
}

.transition{
    transition:0.5s ease-in-out !important;
}

.footer{
    text-align:center;
    margin-block: 2rem;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
    cursor:default;
}

@keyframes shake{
    0%{
        transform: rotate(-5deg);
    }
    33.333%{
        transform: rotate(5deg);
    }
    66.666%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }

}
.make-visible-more-details{
    z-index:20 !important;
    opacity:1 !important
}
