*{
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s ease-in-out;
}

body{    
    margin: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url(https://source.unsplash.com/1600x900/?landscape);
    overflow-y: scroll;
    background-size: cover;
}
h1,h3{
    margin: 0;
}
p{
    margin: 0;
}

html{
    scrollbar-color:white rgba(8, 8, 8, 1);
    ;    
    scrollbar-width: thin;
}

.content{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 70%;
    height: 80%;
    justify-items: center;
    gap: 5rem;
}

.footer{
    display: grid;
    place-items: end center;
    color: white;
    bottom: 5%;
    font-weight: 300;
    font-size: 0.7rem;
    z-index: 30;
    position: absolute;
    height: 60px;
    cursor: default;
}

@keyframes shake{
    0%{
        transform: rotate(-5deg);
    }
    33.333%{
        transform: rotate(5deg);
    }
    66.666%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.light-mode{
    background-color:rgb(255, 255, 255,0.9);
    color: black;
}

.make-visible-more-details{
    z-index:20 !important;
    opacity:1 !important
}