*{
    font-family: 'Open Sans', sans-serif;
}

body{    
    margin: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url(https://source.unsplash.com/1600x900/?landscape);
    background-size: cover;
}
h1,h3{
    margin: 0;
}
p{
    margin: 0;
}