/* light/dark mode settings */

/* for weather icon */
.weather-icon-dark{
    background-color: #222222;
    border-radius: 10px;
}
.weather-icon-light{
    background-color: #d1d1d2 !important;
}

/* the option buttons and scrollbars */
.toggle-btn-change-color{
    background-color: #d1d1d2!important;
    outline: 1px solid white!important;
}
/* for input text in option */
.input-text-light-mode{
    color: #333333 !important;
}
.input-text-light-mode:focus{
    color:white !important;
}
/* for the toggle buttons in the option */
.icon-text-black{
    color: black !important;
}
/* some bg colors */
.bg-dimgray{
    background-color:#666666 !important;
}
.bg-lightergray{
    background-color:#d1d1d2 !important;
}



/* for the cards */
.light-mode-outer{
    background-color:rgb(255, 255, 255,0.9) !important;
    color: black !important;
}
.light-mode-inner{
    color: black!important;
    background-color: #f0f0f1!important;
}



/* for scrollbar */
/* webkit scrollbar darkmode */
.-webkit-scrollbar-dark::-webkit-scrollbar{
    background-color:#161616;
    border-radius: 25px;
    width:11px;
}
.-webkit-scrollbar-dark::-webkit-scrollbar-track{
    background-color:#161616;
    border-radius: 25px;
}
.-webkit-scrollbar-dark::-webkit-scrollbar-thumb{
    background-color:white;
    border-radius: 25px;
    border: 2.5px solid #161616;
}
/* webkit scrollbar lightmode */
.-webkit-scrollbar-light::-webkit-scrollbar{
    background-color:#f0f0f1 !important;
}
.-webkit-scrollbar-light::-webkit-scrollbar-track{
    background-color:#f0f0f1!important;
}
.-webkit-scrollbar-light::-webkit-scrollbar-thumb{
    background-color:#999999!important;
    border: 2.5px solid #f0f0f1 !important;
}
@supports (scrollbar-color: #999999 #f0f0f1!important){
    .scroll-bar-dark-mode{
        scrollbar-color:white #161616!important;
    }
    .scroll-bar-light-mode{
        scrollbar-color: #999999 #f0f0f1!important;
    }
}

/* for the x button in more detals */
.light-mode-back-btn{
    color: white !important;
    background-color: rgba(85, 85, 85, 0.2) !important;
}
.light-mode-back-btn:hover{
    background-color:rgba(85, 85, 85, 0.5)!important;
}

/* for news inner card and content */
.news-content-dark{
    background-color:#232323;
    color: white;
}
.news-content-light{
    background-color:#e6e6e6 !important;
    color: black !important;
}

