.site-option{
    background-color:rgba(8, 8, 8, 0.85);
    padding: 2rem;
    width: 100%;
    color: white;
    border-radius: 20px;
    position: relative;
    z-index: 10;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}
.site-option h2{
    font-size: 1rem;
    border-radius:20px;
    color: #999999;
    background-color: rgba(85, 85, 85, 0.2);
    padding: 0.375rem 1rem;
    text-align: center;
    font-weight: 400;
    margin: 0 0 1.5rem 0;
}

.option-inner{
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    inset: 25% 5% 5% 5%;
    background-color:#161616;
    padding: 1rem;
    min-width: 150px;
    max-width: 500px;
    color: white;
    border-radius: 25px;
    opacity: 1;
    z-index: 20;
    transition: 0.5s ease-in-out;
    font-size: 0.8rem;
}

.option-inner p{
    margin-bottom: 1rem
}
.toggle-btn>p{
    margin: 0;
}
.input-font-type{
    width: 80%;
    margin-right: 0.375rem;
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgba(85, 85, 85, 0.2);
    padding: 0.375rem 1rem;
    transition:0.5s ease-in-out;
    font-size: 0.675rem;
}
.input-font-type:focus{
    background-color: rgba(85, 85, 85, 0.5);
}

.interval-input{
    width: 15% !important;
    margin-right: 0 !important;
    padding: 0.375rem 1rem;
    justify-items: end;
}