.news-content {
  display: flex;
  background-color: #232323;
  border-radius: 25px;
  align-items: center;
  margin-block: 1rem;
  transition: 0.5s ease-in-out;
  mix-blend-mode: normal !important;
  padding: 1rem;
}
.news-content img {
  width: 256px;
  height: 144px;
  border-radius: 10px;
  margin-right: 1rem;
}
.news-title {
  margin: 0;
  font-size: 1.4rem;
  color: inherit;
}

.news-link {
  font-size: 0.7rem;
  text-decoration: underline;
  font-style: none;
  color: inherit;
}
.news-link:hover {
  color: #515151;
}

.news-summary {
  text-align: justify;
  margin-right: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: inherit;
}
