
/* toggle button css */
.toggle-btn {
    height: 25px;
    width: 40%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    outline: 1px solid rgb(8, 8, 8);
    margin-bottom: 1rem;
    cursor: pointer;    
    color: black;

}
.inner-circle {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    border-radius: 25px;
    background-color: rgb(65, 65, 65);
    transition: 0.3s ease-in-out;
}
.move-inner-circle{
    transform: translate(100%);
}
.turn-display-mode-btn{
    background-color: black;
    color: white;
    outline: 1px solid white;
}
.text-white{
    color: white;
}

/* button inner text glass effect */
.toggle-transparent > p{
    font-size: 0.6rem;
    font-weight: 300;
}
