.opt-range{
    width: 90%;
    margin: auto;
    appearance: none;
    cursor: pointer;
    background-color: #444444;
    border-radius: 25px;
    height: 10px;
}

.opt-range::-webkit-slider-thumb,.opt-range::-moz-range-thumb{
    background-color: #666666;
    outline: none;
    border:none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius:10px;
}

.slider{
    box-sizing: border-box;
    display:flex;
    background-color:#232323;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 1rem;
    transition:0.5s ease-in-out;
}
.slider > p{    
    padding-inline: 0.275rem ;
    margin: 0;
    font-weight: 300;
    color: white;
    cursor: pointer;
    transition:0.5s ease-in-out;
}