.opt-range{
    width: 100%;
    margin: auto;
    appearance: none;
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
    position: relative;
    z-index: 10;
}

.opt-range::-webkit-slider-thumb,.opt-range::-moz-range-thumb{
    background-color: black;
    outline: none;
    border:none;
    appearance: none;
    width: 20%;
    height: 100%;
    border-radius:10px;
    position: relative;
    z-index: 30;
}

.slider{
    position: relative;
    display:flex;
}
.slider > p{
    position: absolute;
    color: red;
    z-index: 20;
    left: 5%;
}

.slider > p:nth-child(3){
    left: 80%;
}